<script src='https://www.google.com/recaptcha/api.js'></script>

<form action="https://app.grouplist.io/subscribe" method="POST" accept-charset="utf-8">

        <label for="name">Name</label><br/>
        <input type="text" name="name" id="name"/>

        <br/>

        <label for="email">Email</label><br/>
        <input type="email" name="email" id="email"/><br/><br/>

<input type="checkbox" name="gdpr" id="gdpr"/>

<span><strong>Marketing permission</strong>: I give my consent to WaterHCI&trade; to be in touch with me via email using the information I have provided in this form for the purpose of news, updates and marketing.</span>

<br/><br/>

<span><strong>What to expect</strong>: If you wish to withdraw your consent and stop hearing from us, simply click the unsubscribe link at the bottom of every email we send. We value and respect your personal data and privacy. By submitting this form, you agree that we may process your information in accordance with these terms.</span>

<br/><br/>

        <p class="g-recaptcha" data-sitekey="6Lc-aocdAAAAAPC4xKsOJ2ey5Ak14BBu3CQvvkZq"></p><div style="display:none;">

        <label for="hp">HP</label><br/>
        <input type="text" name="hp" id="hp"/>

        </div>

        <input type="hidden" name="list" value="HaDkNpoQqUkHq763bRM2EpQg"/>
        <input type="hidden" name="subform" value="yes"/>
        <input type="submit" name="submit" id="submit"/>

</form>

<br/>
