<a href="about_waterhci_logo.html"><img height="50" src="images/water_human_technology_logo_thick.svg">(<a href="about_waterhci_logo.html">about our logo</a>)
<p>
<a href="index.html">🏠Home</a>
<a href="registergdpr.html">☑Register</a>
<a href="video.html">🎥Video</a>
<a href="waterhci.html">⌨️WaterHCI</a>
<a href="waterHCIclassroom.php">⛱️TeachBeach&trade;</a>
<a href="https://dl.acm.org/doi/pdf/10.1145/1291233.1291357">🔬Science</a>
<a href="art.html">🚿Art</a>
<a href="music.html">🦕Music</a>
<a href="swimop.html">🏊SwimOP</a>
<p>

<h1>Water-Human-Computer Interaction (WaterHCI)</h1>

<p>Ontario is home to the world’s largest freshwater supply and is often called “water capital of the world”.  Toronto is Ontario’s capital, thus making Toronto the world’s “water city”.  We look at water as a message-carrying medium, playful, curative, healing, sacred, practical, and essential.

<p>Water-Human-Computer-Interaction (W-HCI) originated in Ontario in the 1960s and 1970s, with concepts such as Fluid-User-Interfaces and "Being Undigital", and is somewhat distinct form the more digital concepts like IoT (Internet of Things).

<p>Water is a very undigital medium, and it has been left behind in the digital world. Water is not part of the IoT3 (Internet of Things That Think) because water is not a thing. Water is "stuff" not "things".  In our everyday interactions we don't ordinarily count water unless we go down to the molecular level and count molecules but then the universe itself is not necessarily digital. Molecules are made of atoms which are made of subatomic particles, and we don't know if the universe is fundamentally digital ("things") or fundamentally analog ("stuff").  But our everyday perception of water is that it is “stuff” (analog) and not “things” (digital) that you can count.

<p>Water dissolves the boundaries between all cultures, races, and beliefs and unites us in many ways.  Moreover, water dissolves the boundary between your surroundings (environment) and you yourself (“invironment”).  The boundary between this environment (surroundings) and “invironment” (your body) is formed of clothing.

<p>Marshall McLuhan once said that the computer is the most extraordinary of our technological clothing, perhaps suggesting mobile, portable, and wearable computing technologies.

<p>When we take a bath or shower or go for a swim we often leave behind our shoes and clothing and our smartphones and computers, and in this sense water becomes an intimate medium that transgresses the corporeal boundary between the invironment and environment.  In this way water stands as a substitute for the cyborg body giving rise to a “veillance of the vironment” in which sur/sous/veillance and in/en/vironment become one-in-the-same.  With smart washrooms that track our movements using computer vision, and camera-based disease-detecting toilets that manage outbreaks, as well as the sharing of bathroom spaces in a world of smart clothes, smart eyeglasses, and always-on-recording, water gives privacy and veillance (both surveillance and sousveillance) deeper meaning.

<p>Thus water and computation are a mix that creates more questions than it answers.

<p>During the pandemic many of us took to open-water swims, despite the “no swimming” rules surrounding many of our cities.  Thus many of us find ourselves suddenly concerned with water pollution, water rights, riparian rights, and asking questions like “Who owns the lake?”.  In downtown Toronto we now have more than 500 members of SwimOP = Swim at Ontario Place where “swimming is not permitted anywhere at Ontario Place” [https://ontarioplace.com/en/about/faq/].  Likewise organizations like Swim Drink Fish are politically active in reminding us that the waters belong to all of us.  We recognize the rights of our Indigenous Peoples: “First Nations recognize water as a sacred gift that connects all life… inherent and human rights to water for basic human needs, sanitation, social, economic, cultural and ceremonial purposes” [https://www.afn.ca/uploads/files/water/national_water_declaration.pdf].  

<p>We seek to ask fundamental questions and define grand challenges at the human-water-technology nexus (human-water, water-technology, cyborg-water).

<blockquote>
"I would rather have questions that can't be answered than answers that can't be questioned." == Richard P. Feynman.
</blockquote>
<blockquote>
"The purpose of art is to lay bare the questions that have been hidden by the answers." == James Baldwin.
</blockquote>
